
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

Id: @Model.Id
<br />
Title: @Model.Title
<br />
Director: @Model.Director
<br />
Description: @Model.Description
<br />